<form
  class="flex items-center justify-center w-full gap-5"
  [class]="isEditing && 'flex-col'"
  (submit)="submitHandler()"
>
  <select name="kind" [(ngModel)]="selectedKind">
    <option value="bread">bread</option>
    <option value="vegetable">vegetable</option>
    <option value="patty">patty</option>
    <option value="sauce">sauce</option>
    <option value="extra">extra</option>
  </select>
  <label for="name" class="text-sm">재료 이름</label>
  <input
    type="text"
    name="name"
    class="border-2 rounded-lg shadow-sm"
    [(ngModel)]="enteredName"
  />
  <ng-template [ngIf]="!isEditing" [ngIfElse]="editingButtons">
    <button>submit</button>
  </ng-template>
  <ng-template #editingButtons>
    <div class="flex gap-5">
      <button
        class="w-20 py-2 border rounded-lg shadow-md cursor-pointer"
        (click)="saveIngredient(enteredName!, selectedKind!)"
      >
        save
      </button>
      <button
        class="w-20 py-2 border rounded-lg shadow-md cursor-pointer"
        (click)="cancelEditing()"
      >
        cancel
      </button>
    </div>
  </ng-template>
</form>
