<div
  class="flex flex-col items-center justify-center w-full h-full gap-5 border rounded-lg shadow-sm"
>
  <ng-template [ngIf]="!isEditing" [ngIfElse]="ingredientEditForm">
    <div class="flex gap-2">
      <app-ingredient-icon
        *ngIf="ingredient?.kind"
        [kind]="ingredient?.kind"
      ></app-ingredient-icon>
      <span>{{ ingredient?.kind }}</span>
    </div>
    <span>{{ ingredient?.name }}</span>
  </ng-template>
  <ng-template #ingredientEditForm>
    <p>editing ingredient form</p>
  </ng-template>
  <div class="flex gap-5">
    <ng-template [ngIf]="!isEditing">
      <button
        class="w-20 py-2 border rounded-lg shadow-md cursor-pointer"
        (click)="editingMode()"
      >
        edit
      </button>
      <button
        class="w-20 py-2 border rounded-lg shadow-md cursor-pointer"
        (click)="deleteIngredient()"
      >
        delete
      </button>
    </ng-template>
    <ng-template [ngIf]="isEditing">
      <button
        class="w-20 py-2 border rounded-lg shadow-md cursor-pointer"
        (click)="saveIngredient(ingredient!)"
      >
        save
      </button>
      <button
        class="w-20 py-2 border rounded-lg shadow-md cursor-pointer"
        (click)="cancelEditing()"
      >
        cancel
      </button>
    </ng-template>
  </div>
</div>
